@media (max-width: 1250px) {
  .rates-nav__ticket {
    padding: 3px;
  }
}
@media (max-width: 1150px) {
  .container {
    max-width: 1024px;
  }
  .hero-wrapper {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }
  .hero-wrapper-left {
    text-align: center;
    width: 100%;
  }
  .hero-wrapper-right {
    width: 100%;
  }
  .advantage-item__title,
  .tabs-area__title {
    font-size: 20px;
    text-wrap: balance;
  }
  .advantage-item__img {
    width: 40px;
  }
  .tabs-area__item {
    padding: 15px;
  }

  /* fsfs */
  .check-services__status {
    display: flex;
    align-items: center;
  }

  table thead {
    display: none;
  }
}

@media (max-width: 1024px) {
  .container {
    width: unset !important;
    max-width: none;
    padding: 0px 15px;
  }
  .header-wrapper__nav,
  .header-wrapper__links {
    display: none;
  }
  .header-wrapper__mobile {
    display: block;
  }
  .header-wrapper {
    justify-content: space-between;
  }
  #header.sticky {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  #header {
    padding: 10px 0;
  }
  .advantage-wrapper {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
  .section-title,
  .consult-text__title {
    font-size: 42px;
  }
  .services-tabs__label {
    font-size: 17px;
  }
  .services-tabs__area {
    grid-template-columns: repeat(2, 1fr);
  }
  .stage-wrapper__block {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .hero-left__title {
    font-size: 42px;
  }
  .hero-left__subtitle {
    font-size: 17px;
  }
  .rates-wrapper {
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .rates-wrapper__item {
    width: 450px;
  }
  .research-wrapper {
    padding: 15px 14px;
  }
  .research-wrapper__item {
    flex-direction: column;
    gap: 20px;
  }
  .research-item__left {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
  }
  .research-item__right {
    text-align: center;
  }
}

@media (max-width: 890px) {
  .consult-wrapper {
    flex-direction: column;
    gap: 30px;
  }
}
@media (max-width: 800px) {
}

@media (max-width: 768px) {
  .advantage-wrapper,
  .services-tabs__area {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 650px) {
  .footer-bottom__link a {
    text-align: center;
  }
  .rates-wrapper__item {
    width: 100%;
  }
  .hero-wrapper-right {
    padding: 20px 10px;
  }
  .hero-left__title {
    font-size: 30px;
  }
  .services-tabs__content {
    padding: 0;
  }
  .footer-wrapper__top {
    flex-direction: column;
    gap: 30px;
  }
  .footer-top__info,
  .footer-wrapper__top ul {
    align-items: center;
  }
  .footer-wrapper__bottom {
    flex-wrap: wrap;
    gap: 10px;
  }
  .modal-content,
  .modal-success__content {
    width: 90%;
  }

  .hero-right__title {
    font-size: 22px;
  }
  .research-wrapper__item.cloud {
    grid-template-columns: unset;
  }
  .cloud-word {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
  }
}
@media (max-width: 425px) {
  .hero-active__btn {
    padding: 10px;
  }
  .hero-active__btn span {
    display: none;
  }
  .hero-btn__icon {
    display: block;
  }
  .hero-active__icon {
    display: none;
  }
  .hero-right__gif {
    display: none;
  }
  .stage-wrapper__item {
    padding: 7px 19px;
  }
  .accordion.active {
    height: 100%;
  }
  .accordion .accordion_tab {
    font-size: 20px;
  }
  .accordion .accordion_tab {
    padding: 10px;
  }
  .modal-content {
    padding: 40px 15px;
  }
  .rates-nav__link {
    /* flex-direction: column; */
  }
  .success-wrapper__img {
    width: 80px;
  }
  .research-item__info {
    font-size: 14px;
  }
}
